<html>
<head>
<title>syp.stories.create-user</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1></h1>
<div class="path">syp/stories/create-user.story</div>
<div class="scenario">
<h2>Scenario: Insert a new User</h2>
<div class="step successful">Given I am on Create User Page</div>
<div class="step successful">And the database is ready</div>
<div class="step successful">When I add Login Name JFreitas, Screen Name Jussara Freitas, Email jussara@gmail.com, Password 123456789, Confirm Password 123456789, Captcha <span class="step parameter">xxx</span></div>
<div class="step successful">And I click on Register button</div>
<div class="step failed">Then I must see the message <span class="step parameter">Thank you! It works! Yesss!!!</span> <span class="keyword failed">(FAILED)</span><br/><span class="message failed">junit.framework.AssertionFailedError: Could not satisfy the condition: Waiting for elementBy.xpath: //span[text()='Thank you! It works! Yesss!!!']</span></div>
<div class="step notPerformed">And the user <span class="step parameter">JFreitas</span> is inserted on the database <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
</div>
<div class="scenario">
<h2>Scenario: Insert a new user without filling the captcha</h2>
<div class="step successful">Given I am on Create User Page</div>
<div class="step successful">And the database is ready</div>
<div class="step successful">When I add Login Name Monique, Screen Name <span class="step parameter">Monique</span> Ribeiro, Email monique@email.com, Password Senha123, Confirm Password Senha123, Captcha <span class="step parameter">vazio</span></div>
<div class="step successful">And I click on Register button</div>
<div class="step successful">Then I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span></div>
</div>
<div class="scenario">
<h2>Scenario: Insert a new User with existing e-mail</h2>
<div class="step successful">Given I am on Create User Page</div>
<div class="step successful">And the database is ready</div>
<div class="step successful">When I add Login Name JFreitas, Screen Name Jussara Freitas, Email jussara@gmail.com, Password 123456789, Confirm Password 123456789, Captcha <span class="step parameter">xxx</span></div>
<div class="step successful">And I click on Register button</div>
<div class="step failed">Then I must see the message <span class="step parameter">Please try again. That user name (or email address) is already taken.</span> <span class="keyword failed">(FAILED)</span><br/><span class="message failed">junit.framework.AssertionFailedError: Could not satisfy the condition: Waiting for elementBy.xpath: //span[text()='Please try again. That user name (or email address) is already taken.']</span></div>
</div>
<div class="scenario">
<h2>Scenario: Insert a new User with invalid email</h2>
<div class="step successful">Given I am on Create User Page</div>
<div class="step successful">And the database is ready</div>
<div class="step successful">When I add Login Name Monique, Screen Name <span class="step parameter">Monique</span> Ribeiro, Email usuarioemail.com, Password Senha123, Confirm Password Senha123, Captcha <span class="step parameter">xxx</span></div>
<div class="step successful">And I click on Register button</div>
<div class="step successful">Then I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span></div>
</div>
<div class="scenario">
<h2>Scenario: Insert a new User with smaller fields of 6 characters</h2>
<div class="step successful">Given I am on Create User Page</div>
<div class="step successful">And the database is ready</div>
<div class="step successful">When I add Login Name Monique, Screen Name <span class="step parameter">Monique</span> Ribeiro, Email monique@email.com, Password Senha, Confirm Password Senha, Captcha <span class="step parameter">xxx</span></div>
<div class="step successful">And I click on Register button</div>
<div class="step failed">Then I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword failed">(FAILED)</span><br/><span class="message failed">junit.framework.AssertionFailedError: Could not satisfy the condition: Waiting for elementBy.xpath: //span[text()='Password is required, minimum 6 characters.']</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Monique, Screen Name Moniq, Email monique@email.com, Password Monique, Confirm Password Monique, Captcha <span class="step parameter">xxx</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step pending">When I add Login Name LuanFarias, Screen Name Luan, Email lu_farias@gmail.com, Password L,Confirm Password L, Captcha xxx <span class="keyword pending">(PENDING)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name <span class="step parameter">Luan</span> Farias, Email lu_farias@gmail.com, Password LF0000, Confirm Password LF0000, Captcha <span class="step parameter">xxx</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name <span class="step parameter">Luan</span> Farias, Email lu_farias@gmail.com, Password LF000, Confirm Password LF000, Captcha <span class="step parameter">xxx</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name Luan, Email lu_farias@gmail.com, Password AaaaaZzzz, Confirm Password AaaaaZzzz, Captcha <span class="step parameter">xxx</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name Luan, Email lu_farias@gmail.com, Password LF, Confirm Password LF, Captcha <span class="step parameter">xxx</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div><pre class="pending">@When(&quot;I add Login Name LuanFarias, Screen Name Luan, Email lu_farias@gmail.com, Password L,Confirm Password L, Captcha xxx&quot;)
@Pending
public void whenIAddLoginNameLuanFariasScreenNameLuanEmailLu_fariasgmailcomPasswordLConfirmPasswordLCaptchaXxx() {
  // PENDING
}
</pre></div>
</div>
<div class="scenario">
<h2>Scenario: Insert a new User with invalid email and smaller fields of 6 characters</h2>
<div class="step successful">Given I am on Create User Page</div>
<div class="step successful">And the database is ready</div>
<div class="step successful">When I add Login Name Monique, Screen Name <span class="step parameter">Monique</span> Ribeiro, Email monique@email.., Password QqqAA, Confirm Password QqqAA, Captcha <span class="step parameter">xxx</span></div>
<div class="step successful">And I click on Register button</div>
<div class="step failed">Then I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword failed">(FAILED)</span><br/><span class="message failed">junit.framework.AssertionFailedError: Could not satisfy the condition: Waiting for elementBy.xpath: //span[text()='Password is required, minimum 6 characters.']</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Monique, Screen Name Mo Ri, Email monique@.com, Password Senha123, Confirm Password Senha123, Captcha <span class="step parameter">xxx</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.,</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step pending">When I add Login Name LuanFarias, add Screen Name Luan, Email lu_fariasgmail.com, Password L, Confirm Password L, Captcha xxx <span class="keyword pending">(PENDING)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name <span class="step parameter">Luan</span> Farias, Email lu_farias.com, Password LF0000, Confirm Password LF0000, Captcha <span class="step parameter">xxx</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name <span class="step parameter">Luan</span> Farias, Email lu_farias@gmail, Password LF000, Confirm Password LF000, Captcha <span class="step parameter">xxx</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name Luan, Email lu_farias, Password 123456789, Confirm Password 123456789, Captcha <span class="step parameter">xxx</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters..</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name Luan, Email @gmail.com, Password LF, Confirm Password LF, Captcha <span class="step parameter">xxx</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div><pre class="pending">@When(&quot;I add Login Name LuanFarias, add Screen Name Luan, Email lu_fariasgmail.com, Password L, Confirm Password L, Captcha xxx&quot;)
@Pending
public void whenIAddLoginNameLuanFariasAddScreenNameLuanEmailLu_fariasgmailcomPasswordLConfirmPasswordLCaptchaXxx() {
  // PENDING
}
</pre></div>
</div>
<div class="scenario">
<h2>Scenario: Insert a new User with invalid email and without filling the captcha</h2>
<div class="step successful">Given I am on Create User Page</div>
<div class="step successful">And the database is ready</div>
<div class="step successful">When I add Login Name Josefa, Screen Name <span class="step parameter">Josefa</span> Arruda Magalh&atilde;es, Email j_magalhaes@.com, Password JosefaMaga, Confirm Password JosefaMaga, Captcha <span class="step parameter">vazio</span></div>
<div class="step successful">And I click on Register button</div>
<div class="step successful">Then I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span></div>
<div class="step successful">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span></div>
</div>
<div class="scenario">
<h2>Scenario: Insert a new User with smaller fields of 6 characters and without filling the captcha</h2>
<div class="step successful">Given I am on Create User Page</div>
<div class="step successful">And the database is ready</div>
<div class="step successful">When I add Login Name Monique, Screen Name <span class="step parameter">Monique</span> Ribeiro, Email monique@email.com, Password Senha, Confirm Password Senha, Captcha <span class="step parameter">vazio</span></div>
<div class="step successful">And I click on Register button</div>
<div class="step failed">Then I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword failed">(FAILED)</span><br/><span class="message failed">junit.framework.AssertionFailedError: Could not satisfy the condition: Waiting for elementBy.xpath: //span[text()='Password is required, minimum 6 characters.']</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Monique, Screen Name Mo Ri, Email monique@email.com, Password Senha123, Confirm Password Senha123, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name LuanFarias, Screen Name Luan, Email lu_farias@gmail.com, Password L, Confirm Password L, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name <span class="step parameter">Luan</span> Farias, Email lu_farias@gmail.com, Password LF0000, Confirm Password LF0000, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name <span class="step parameter">Luan</span> Farias, Email lu_farias@gmail.com, Password LF000, Confirm Password LF000, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name Luan, Email lu_farias@gmail.com, Password A123450Z, Confirm Password A123450Z, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name Luan, Email lu_farias@gmail.com, Password AaaZz, Confirm Password AaaZz, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
</div>
<div class="scenario">
<h2>Scenario: Insert a new User with smaller fields of 6 characters and with invalid email and without filling the captcha</h2>
<div class="step successful">Given I am on Create User Page</div>
<div class="step successful">And the database is ready</div>
<div class="step successful">When I add Login Name Monique, Screen Name  Nome do Usuario, Email monique.com, Password Senha, Confirm Password Senha, Captcha <span class="step parameter">vazio</span></div>
<div class="step successful">And I click on Register button</div>
<div class="step failed">Then I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword failed">(FAILED)</span><br/><span class="message failed">junit.framework.AssertionFailedError: Could not satisfy the condition: Waiting for elementBy.xpath: //span[text()='Password is required, minimum 6 characters.']</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Usuar, Screen Name Moniq, Email usu, Password 12345, Confirm Password 12345, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Monique, Screen Name Mo Ri, Email mon12.com, Password Senha123, Confirm Password Senha123, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name LuanFarias, Screen Name Luan, Email lu_farias_gmail.com, Password L, Confirm Password L, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name <span class="step parameter">Luan</span> Farias de Albuquerque, Email lu_farias.com, Password LF0000z, Confirm Password LF0000z, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name <span class="step parameter">Luan</span> Farias, Email lu_farias@gmail, Password LF000, Confirm Password LF000, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Password is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Given I am on Create User Page <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">When I add Login Name Luan, Screen Name Luan, Email lu_farias, Password 123456789, Confirm Password 123456789, Captcha <span class="step parameter">vazio</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I click on Register button <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">Then I must see the message <span class="step parameter">Login Name is required, must be at least 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Screen Name is required, minimum 6 characters.</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Valid email address is required (in case you forget your password).</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step notPerformed">And I must see the message <span class="step parameter">Please type in the fuzzy characters (CAPTCHA)</span> <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
